name: Lint and Test Charts

on:
  pull_request:
    branches:
      - main
    paths:
      - charts/**
      - .github/workflows/ci-chart.yaml

permissions:
  contents: read # Default token to read

jobs:
  lint-test:
    name: Lint and Test Charts
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.14.4

      - name: Set up python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${DEFAULT_BRANCH})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct lint --target-branch ${DEFAULT_BRANCH}
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}

      - name: Check README diff
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          docker run --rm --volume "$(pwd):/helm-docs" jnorwood/helm-docs:latest
          if ! git diff --exit-code; then
            echo "Error: Please update the chart README"
            echo "  docker run --rm --volume \"\$(pwd):/helm-docs\" jnorwood/helm-docs:latest"
            exit 1
          fi

      - name: Create kind cluster
        if: steps.list-changed.outputs.changed == 'true'
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Prepare cluster for tests
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install cert-manager jetstack/cert-manager \
              --namespace cert-manager \
              --create-namespace \
              --set installCRDs=true
          kubectl create namespace edera-system
          kubectl apply -f ./examples/self-signed-certs/self-signed-certs.yaml \
              --namespace edera-system

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: |
          ct install \
            --namespace edera-system \
            --target-branch ${DEFAULT_BRANCH}
        env:
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
