name: Release Artifacts
run-name: 'Release run by ${{ github.actor }}'

on:
  # Official stable versioned release
  release:
    types:
    - published

permissions:
  contents: read # Default token to read

jobs:
  build-push-image:
    name: 'Build and publish protect-${{ matrix.component }} images'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component:
        - webhook
    permissions:
      contents: read  # Needed to check out code
      packages: write # Needed to write image to ghcr
      id-token: write # Needed for cosign to use github OIDC token
    steps:
      - name: 'Harden runner'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: 'Checkout repository'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4.2.0
        with:
          submodules: recursive
          persist-credentials: false

      - name: 'Setup docker buildx'
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          cache-binary: false

      - name: 'Login to ghcr'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: '${{ github.actor }}'
          password: '${{ github.token }}'

      - name: Docker meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        id: meta
        with:
          images: |
            ghcr.io/edera-dev/protect-${{ matrix.component }}
          tags: |
            # Tag with branch on push
            type=ref,event=branch

            # Tag with short sha on all events
            type=sha,prefix=

            # Tag version and stable on tag push
            type=semver,pattern={{raw}}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern=stable

            # Tag nightly on schedule event
            type=schedule,pattern=nightly

      - name: 'Docker build and push protect-${{ matrix.component }}'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: push
        with:
          file: Dockerfile
          platforms: linux/amd64
          tags: '${{ steps.meta.outputs.tags }}'
          push: true

      - name: 'Install cosign'
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: 'Cosign sign all images'
        shell: bash
        run: |
          images=""
          for tag in ${TAGS}; do
            pullstring="${tag}@${DIGEST}"
            echo "Signing ${pullstring}"

            cosign sign --yes "${pullstring}"
          done
        env:
          TAGS: '${{ steps.meta.outputs.tags }}'
          DIGEST: '${{ steps.push.outputs.digest }}'

  publish-helm-chart:
    needs: build-push-image
    name: Publish Helm chart for protect-webhook
    runs-on: ubuntu-latest
    permissions:
      contents: read  # Needed to check out code
      packages: write # Needed to write helm chart to ghcr
    steps:
      - name: 'Harden runner'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          submodules: recursive
          persist-credentials: false

      - name: Resolve parameters
        id: resolve_parameters
        run: |
          echo "INFO: Resolving short SHA for ${GITHUB_REF}"
          echo "short_sha=$(git rev-parse --short ${GITHUB_REF})" >> $GITHUB_OUTPUT
          echo "INFO: Normalizing repository name (lowercase)"
          echo "repository_owner=$(echo ${GITHUB_REPOSITORY_OWNER} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
          PROTECT_WEBHOOK_CHART_VERSION_TAG=$(cat charts/protect-webhook/Chart.yaml | grep version: | cut -d " " -f 2)
          echo "protect_webhook_chart_version_tag=${PROTECT_WEBHOOK_CHART_VERSION_TAG}" >> $GITHUB_OUTPUT
        env:
          GITHUB_REF: '${{ github.ref }}'
          GITHUB_REPOSITORY_OWNER: '${{ github.repository_owner }}'

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.2

      - name: Publish new helm chart for protect-webhook
        run: |
          echo "${GH_TOKEN}" | helm registry login ghcr.io --username ${GITHUB_ACTOR} --password-stdin
          helm package charts/protect-webhook/ --version="${PROTECT_WEBHOOK_CHART_VERSION_TAG}"
          helm push protect-webhook-"${PROTECT_WEBHOOK_CHART_VERSION_TAG}".tgz oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/charts
        env:
          GH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          GITHUB_ACTOR: '${{ github.actor }}'
          GITHUB_REPOSITORY_OWNER: '${{ steps.resolve_parameters.outputs.repository_owner }}'
          PROTECT_WEBHOOK_CHART_VERSION_TAG: '${{ steps.resolve_parameters.outputs.protect_webhook_chart_version_tag }}'

      - name: Job summary
        run: |
          echo "New helm chart for protect-webhook published successfully!" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "**Parameters:**" >> $GITHUB_STEP_SUMMARY
          echo "- Ref: ${RESOLVED_REF}" >> $GITHUB_STEP_SUMMARY
          echo "- Short SHA: ${SHORT_SHA}" >> $GITHUB_STEP_SUMMARY
          echo "- protect-webhook Chart version: ${PROTECT_WEBHOOK_CHART_VERSION_TAG}" >> $GITHUB_STEP_SUMMARY
        env:
          RESOLVED_REF: '${{ steps.resolve_parameters.outputs.resolved_ref }}'
          SHORT_SHA: '${{ steps.resolve_parameters.outputs.short_sha }}'
          PROTECT_WEBHOOK_CHART_VERSION_TAG: '${{ steps.resolve_parameters.outputs.protect_webhook_chart_version_tag }}'
